<ng-container [ngSwitch]="showUiComponent">
  <!-- Chart receives Friends[]-->
  <ng-template [ngSwitchCase]="'chart'">
    <sw-app-test-chart [friends]="friends$"></sw-app-test-chart>
  </ng-template>
  <!-- Pie Chart receives Friends[]-->
  <ng-template [ngSwitchCase]="'pie'">
    <sw-app-test-pie [friends]="friends$"></sw-app-test-pie>
  </ng-template>
  <!-- Scatter Plot receives Friends[]-->
  <ng-template [ngSwitchCase]="'scatter'">
    <sw-app-test-scatter [friends]="friends$"></sw-app-test-scatter>
  </ng-template>
  <!-- List receives Friends[] and can also remove friends through event emitted from list.component-->
  <ng-template [ngSwitchCase]="'list'">
    <sw-app-test-list
      [friends]="friends$"
      (deletedFriend)="onDeletedFriend($event)"
    ></sw-app-test-list>
  </ng-template>
  <ng-template [ngSwitchDefault]>
    <sw-app-test-list [friends]="friends$"></sw-app-test-list>
  </ng-template>
</ng-container>
