<div style="display: flex; justify-content: space-around">
  <div style="width: 35%; height: 900px; overflow-y: scroll">
    <mat-card
      ><!--  Add Friend component with form to add friends -->
      <sw-app-test-add-friend></sw-app-test-add-friend
    ></mat-card>
    <mat-divider></mat-divider>
    <mat-card
      ><!-- Friend List to show list of friends. Can remove also.-->
      <sw-app-test-friend-list
        [showUiComponent]="'list'"
      ></sw-app-test-friend-list>
    </mat-card>
  </div>
  <div style="width: 55%; height: 900px; overflow-y: scroll">
    <mat-card
      ><!--  Friend List to send Friend[] to chart -->
      <sw-app-test-friend-list
        [showUiComponent]="'chart'"
      ></sw-app-test-friend-list
    ></mat-card>
    <mat-divider></mat-divider>
    <mat-card
      ><!--  Friend List to send Friend[] to chart -->
      <sw-app-test-friend-list
        [showUiComponent]="'pie'"
      ></sw-app-test-friend-list
    ></mat-card>
    <mat-divider></mat-divider>
    <mat-card
      ><!--  Friend List to send Friend[] to chart -->
      <sw-app-test-friend-list
        [showUiComponent]="'scatter'"
      ></sw-app-test-friend-list
    ></mat-card>
  </div>
</div>
