<h2>Friends</h2>
<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <!-- prettier-ignore -->
    <td mat-cell *matCellDef="let element;">{{ element.name }}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <!-- prettier-ignore -->
    <td mat-cell *matCellDef="let element;">{{ element.age }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <!-- prettier-ignore -->
    <td mat-cell *matCellDef="let element;">{{ element.weight }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="numFriends">
    <th mat-header-cell *matHeaderCellDef>Friends</th>
    <!-- prettier-ignore -->
    <td mat-cell *matCellDef="let element;">{{ element.numFriends }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <!-- prettier-ignore -->
    <td mat-cell *matCellDef="let element;"><button mat-raised-button color="primary" (click)="deleteFriend(element.id)">
      Remove
    </button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
