<h2>Add a Friend</h2>
<form
  class="friend-form"
  [formGroup]="friendFormGroup"
  (ngSubmit)="onSubmit()"
  #formRef
>
  <!-- Name -->

  <mat-form-field hintLabel="We can legally ask this.">
    <mat-label>Name</mat-label>
    <input matInput #name formControlName="name" placeholder="Name" required />
    <ng-template
      [ngIf]="
        friendFormGroup?.get('name')?.invalid &&
        friendFormGroup?.get('name')?.errors &&
        (friendFormGroup?.get('name')?.dirty ||
          friendFormGroup?.get('name')?.touched)
      "
    >
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('name')?.hasError('required')"
      >
        This field is required.
      </mat-hint>
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('name')?.hasError('minlength')"
      >
        The minimum length for this field is
        {{ friendFormGroup?.get('name')?.errors?.minlength.requiredLength }}
        characters.
      </mat-hint>
    </ng-template>
  </mat-form-field>

  <!-- Age -->
  <mat-form-field hintLabel="..or age of someone else">
    <mat-label>Age</mat-label>
    <input matInput #age formControlName="age" placeholder="0" required />
    <ng-template
      [ngIf]="
        friendFormGroup?.get('age')?.invalid &&
        friendFormGroup?.get('age')?.errors &&
        (friendFormGroup?.get('age')?.dirty ||
          friendFormGroup?.get('age')?.touched)
      "
    >
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('age')?.hasError('required')"
      >
        Age is required.
      </mat-hint>
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('age')?.hasError('pattern')"
      >
        Age is required. Lying is ok here.
      </mat-hint>
    </ng-template>
  </mat-form-field>

  <!-- Weight -->
  <mat-form-field hintLabel="..or weight of a large dog.">
    <mat-label>Weight</mat-label>
    <input matInput #weight formControlName="weight" placeholder="0" required />
    <ng-template
      [ngIf]="
        friendFormGroup?.get('weight')?.invalid &&
        friendFormGroup?.get('weight')?.errors &&
        (friendFormGroup?.get('weight')?.dirty ||
          friendFormGroup?.get('weight')?.touched)
      "
    >
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('weight')?.hasError('required')"
      >
        Enter a weight. It can be for a small animal or the pile of clothes on
        the floor. Either works
      </mat-hint>
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('weight')?.hasError('pattern')"
      >
        Please enter a number.
      </mat-hint>
    </ng-template>
  </mat-form-field>

  <!-- Friends -->
  <mat-form-field hintLabel="Number of their friends">
    <mat-label>Friends</mat-label>
    <input
      matInput
      #numFriends
      formControlName="numFriends"
      placeholder="0"
      required
    />
    <ng-template
      [ngIf]="
        friendFormGroup?.get('numFriends')?.invalid &&
        friendFormGroup?.get('numFriends')?.errors &&
        (friendFormGroup?.get('numFriends')?.dirty ||
          friendFormGroup?.get('numFriends')?.touched)
      "
    >
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('numFriends')?.hasError('required')"
      >
        Number of friends is required.
      </mat-hint>
      <mat-hint
        class="text-danger"
        *ngIf="friendFormGroup?.get('numFriends')?.hasError('pattern')"
      >
        Please enter a number.
      </mat-hint>
    </ng-template>
  </mat-form-field>

  <div class="actions">
    <button
      mat-raised-button
      type="submit"
      [disabled]="friendFormGroup.invalid"
      color="primary"
    >
      Add Friend
    </button>
    <button
      mat-raised-button
      color="secondary"
      class="reset"
      [disabled]="friendFormGroup.pristine"
      (click)="reset()"
    >
      Reset Form
    </button>
  </div>
</form>
